<div class="col-12">
	<div class="card card-product mb-4">
		<div class="card-body">
			<h5 class="card-title">{{product.name}}</h5>
			<p class="card-text">{{product.summary}}</p>
			<a href="{{path('app_product',{id:product.id})}}" class="card-link">See more</a>
			<hr>
			<p class="text-muted">
				{{product.comments|length}}
				{% if (product.comments|length)==1 %}
					Comment
				{% else %}
					Comments
				{% endif %}
				|
				{% for tag in product.tags %}
					<a href="{{path('app_home',{tag:tag.name})}}" class="badge text-decoration-none {{
																																				tag.name == app.request.get('tag') ?
																																				'text-white bg-dark'
																																				:
																														'text-dark bg-light'
																																			}}">{{tag.name}}</a>
				{% endfor %}
			</p>
		</div>
	</div>
</div>
