{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
	| Symfony/DB
{% endblock %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb mx-1">
			<li class="breadcrumb-item">
				<a href="{{path('app_home')}}">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
		</ol>
	</nav>
{% endblock %}

{% block body %}

	<div class="row g-0">
		<div class="col-12">
			<small class="text-muted mb-4">{{comments|length}}
				{% if (comments|length) == 1 %}
					Comment
				{% else %}
					Comments
				{% endif %}
			</small>
		</div>
		{% for comment in comments %}
			<h5 class="mb-2 mt-4">
				<a href="{{path('app_product',{id:comment.product.id})}}" class="text-decoration-none text-dark">{{comment.product.name}}</a>
			</h5>
			{{ include('comments/_comment.html.twig') }}
		{% endfor %}
	</div>
{% endblock %}
